.netrwhist
.DS_Store
.tags
.cscope
.tasks
.root
.vscode/
__pycache__/
tags
*.o
*.obj
*.class
*.exe
*.wav
*.pyc
*.pyo
*.bak
*.old
*.dll
*.so
*~
*.sdf
*.ipch
*.pch
*.log
packages/resources/softwares/*
!packages/resources/softwares/.gitkeep